/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  /*  margin: 1em 40px;*/
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/*Сброс блочной модели*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}
.page-body {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  color: #000000;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
fieldset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  display: none;
}
.btn {
  padding: 16px 17px;
  line-height: 16px;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  transition: all 0.3s ease-out;
}
.btn:hover {
  color: #fff;
  background: #444444;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.hover-active:hover {
  opacity: 0.6;
}
.hover-active:active {
  opacity: 0.3;
}
.form-check {
  position: relative;
  display: block;
  padding: 14px 0;
  padding-left: 64px;
}
.page-header {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1150px;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 24px 30px 23px;
  background: #f1f1f1;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1150px;
  }
}
@media (min-width: 768px) {
  .page-footer {
    padding: 24px 50px 23px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 24px 50px 23px;
  }
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 47px;
  }
}
.page-main {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-main {
    width: 1150px;
  }
}
.page-main__title {
  padding: 70px 30px 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
}
@media (min-width: 768px) {
  .page-main__title {
    padding: 70px 50px 75px;
  }
}
@media (min-width: 1200px) {
  .page-main__title {
    padding: 70px 50px 75px;
  }
}
.page-main__desc {
  padding: 24px 30px 24px;
  font-size: 13px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .page-main__desc {
    padding: 24px 50px 24px;
  }
}
@media (min-width: 1200px) {
  .page-main__desc {
    padding: 24px 50px 24px;
  }
}
@media (min-width: 768px) {
  .page-main__title {
    padding-top: 95px;
    padding-bottom: 80px;
    font-size: 43px;
    line-height: 50px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: 0 106%;
    background-size: auto 24px;
  }
  .page-main__desc {
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .page-main__title {
    padding-top: 93px;
    padding-bottom: 100px;
    font-size: 53px;
    line-height: 57px;
    background-size: auto 34px;
  }
  .page-main__desc {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.main-nav {
  position: relative;
}
.main-nav::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav__wrapper-logo {
  padding: 22px 21px 22px 30px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  font-size: 0;
}
.main-nav__logo {
  display: inline-block;
  vertical-align: top;
  width: 88%;
  height: 35px;
  padding-left: 26px;
  text-align: center;
}
.main-nav__logo:hover {
  opacity: 0.6;
}
.main-nav__logo:active {
  opacity: 0.3;
}
.main-nav__toggle {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #fff;
  background: url(../img/icon/icon-menu-close.svg) no-repeat 50% 50%;
  cursor: pointer;
}
.main-nav__items {
  display: block;
  font-size: 17px;
}
.main-nav__items--closed {
  display: none;
}
.main-nav__item {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.main-nav__link {
  padding: 27px 30px;
  padding-left: 65px;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:hover::before {
  color: #63d1bb;
  opacity: 1;
}
.main-nav__link:active {
  opacity: 0.3;
}
.main-nav__link--icon-search::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}
.main-nav__link--icon-basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}
.main-nav__link--icon-search:hover::before {
  background-image: url("../img/icon-hover/icon-search.svg");
}
.main-nav__link--icon-basket:hover::before {
  background-image: url("../img/icon-hover/icon-cart.svg");
}
.main-nav__sales {
  display: none;
}
.main-nav__deliver {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper-logo {
    padding-top: 20px;
    padding-left: 0;
    border: none;
    flex-grow: 1;
  }
  .main-nav__logo {
    width: 120px;
    padding: 0;
    text-align: left;
  }
  .main-nav__items {
    position: absolute;
    bottom: -41px;
    left: 13px;
  }
  .main-nav__items a {
    padding: 0;
    padding-left: 35px;
  }
  .main-nav__item {
    border: none;
  }
  .main-nav__item--menu {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    border: none;
  }
  .main-nav__item--user {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
  }
  .main-nav__item--search {
    font-size: 0;
    border: 1px solid #ececec;
    border-bottom: none;
    border-top: none;
  }
  .main-nav__link {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .main-nav__link--icon-search {
    padding-right: 20px;
  }
  .main-nav__link--icon-search::before {
    top: 36px;
  }
  .main-nav__link--icon-basket {
    padding-left: 76px;
    padding-right: 0px;
  }
  .main-nav__link--icon-basket::before {
    top: 33px;
    left: 26px;
  }
  .main-nav__deliver {
    position: absolute;
    right: 50px;
    top: 105px;
    display: block;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav {
    padding: 0 50px 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-nav {
    padding: 0 50px 0;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper-logo {
    flex-grow: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 48px;
    order: 2;
  }
  .main-nav__logo {
    width: 150px;
  }
  .main-nav__items {
    position: static;
  }
  .main-nav__item--menu a {
    padding: 30px 30px 35px;
    font-size: 17px;
  }
  .main-nav__item--menu:first-of-type {
    border-right: 1px solid #ececec;
  }
  .main-nav__item--menu:first-of-type a {
    padding-left: 0;
    padding-right: 35px;
  }
  .main-nav__item--basket {
    padding-right: 0;
  }
  .main-nav__item--sales {
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;
    font-size: 15px;
  }
  .main-nav__item--sales a {
    padding: 0;
    padding-left: 35px;
  }
  .main-nav__user-items {
    margin-left: 0;
    order: 3;
  }
  .main-nav__sales {
    position: absolute;
    top: 105px;
    left: 15px;
    display: block;
    font-size: 0;
  }
  .main-nav__link--icon-basket {
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle {
    background-image: url(../img/icon/icon-menu-open.svg);
  }
  .main-nav--closed .main-nav__items,
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__items,
  .main-nav--opened .main-nav__user-items {
    display: block;
    background: #fff;
  }
  .main-nav__wrapper {
    background: #fff;
  }
  .main-nav--opened .main-nav__items {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .main-nav--opened .main-nav__user-items {
    position: absolute;
    top: 239px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .main-nav--no-js .main-nav__items,
  .main-nav--no-js .main-nav__user-items {
    position: relative;
    display: block;
  }
}
.products {
  min-height: 488px;
  padding: 72px 0 0;
  margin-bottom: 28px;
}
.products--background {
  background: #fbfbfb url(../img/hero-mobile@1x.jpg) no-repeat 50% -19px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .products--background {
    background-image: url(../img/hero-mobile@2x.jpg);
    background-size: 320px auto;
  }
}
.products__title {
  margin-bottom: 120px;
  padding: 0 30px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .products__title {
    padding: 0 50px 0;
  }
}
@media (min-width: 1200px) {
  .products__title {
    padding: 0 50px 0;
  }
}
.products__link {
  position: relative;
  display: block;
  padding: 27px 30px;
  min-height: 103px;
  font-size: 19px;
  color: #fff;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}
.products__link:hover {
  padding-top: 22px;
}
.products__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.products__link--interior {
  background-color: #63d1bb;
}
.products__link--interior::after {
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 20px;
  right: 26px;
  width: 60px;
  height: 65px;
  background-image: url("../img/icon/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.products__link--interior:hover::after {
  opacity: 0.7;
}
.products__link--interior:active::after {
  opacity: 0.3;
}
.products__link--toys {
  background-color: #56c3b2;
}
.products__link--toys::after {
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 20px;
  right: 26px;
  width: 60px;
  height: 65px;
  background-image: url("../img/icon/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.products__link--toys:hover::after {
  opacity: 0.7;
}
.products__link--toys:active::after {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 23px;
    padding: 0 30px 0;
  }
  .products--background {
    background: #fbfbfb url(../img/hero-desktop@1x.jpg) no-repeat 50% 0;
  }
  .products__title {
    margin-bottom: 0;
    padding-top: 153px;
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }
  .products__item {
    width: 334px;
  }
  .products__link {
    padding-top: 29px;
    padding-left: 36px;
    padding-bottom: 30px;
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-position: 0px 102px;
  }
  .products__link--interior::after {
    top: 29px;
  }
  .products__link--toys {
    background-position-x: -7px;
  }
  .products__link--toys::after {
    top: 28px;
    right: 34px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .products {
    padding: 0 50px 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .products {
    padding: 0 50px 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .products--background {
    background-image: url(../img/hero-desktop@2x.jpg);
    background-size: 768px auto;
  }
}
@media (min-width: 1200px) {
  .products {
    margin-bottom: 26px;
  }
  .products__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 358px;
  }
  .products__item {
    width: 525px;
  }
  .products__link {
    padding-left: 40px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .products--background {
    background-size: 1150px auto;
  }
}
.top-sale {
  position: relative;
  padding: 0 30px 40px;
}
@media (min-width: 768px) {
  .top-sale {
    padding: 0 50px 40px;
  }
}
@media (min-width: 1200px) {
  .top-sale {
    padding: 0 50px 40px;
  }
}
.top-sale::after {
  content: "";
  display: table;
  clear: both;
}
.top-sale__title {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
}
.top-sale__good-week {
  margin-bottom: 25px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.top-sale__desc {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}
.top-sale__attributes {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  border-spacing: 0;
}
.top-sale__attributes td {
  padding: 10px 0;
  padding-right: 29px;
  border-bottom: 1px solid #ececec;
}
.top-sale__preview {
  width: 260px;
  height: 315px;
  margin-bottom: 22px;
}
.top-sale__price {
  margin-bottom: 25px;
  text-align: center;
}
.top-sale__submit {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .top-sale {
    padding-bottom: 53px;
  }
  .top-sale__title {
    float: left;
    margin-top: 22px;
    margin-bottom: 50px;
    margin-right: 70px;
    font-size: 43px;
    line-height: 50px;
  }
  .top-sale__good-week {
    float: left;
    width: 70px;
    margin: 30px 28px 0 72px;
    text-align: center;
  }
  .top-sale__wrapper {
    width: 292px;
  }
  .top-sale__desc {
    font-size: 17px;
    line-height: 30px;
  }
  .top-sale__preview {
    position: absolute;
    top: 125px;
    right: 50px;
    width: 333px;
    height: 404px;
  }
  .top-sale__attributes {
    margin-top: 35px;
    padding-right: 10px;
  }
  .top-sale__attributes td {
    padding-right: 0px;
  }
  .top-sale__buy-wrapper {
    float: left;
    width: 292px;
    margin-top: 25px;
  }
  .top-sale__price {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }
  .top-sale__submit {
    width: 292px;
    margin-right: 35px;
  }
}
@media (min-width: 1200px) {
  .top-sale {
    padding-bottom: 71px;
  }
  .top-sale__title {
    float: right;
    width: 875px;
    margin-top: 97px;
    margin-right: 0;
    font-size: 53px;
    line-height: 57px;
  }
  .top-sale__good-week {
    margin-top: 114px;
    margin-left: 48px;
  }
  .top-sale__wrapper {
    margin-left: 175px;
  }
  .top-sale__preview {
    width: 525px;
    height: 636px;
    top: 45px;
    z-index: -1;
  }
  .top-sale__attributes {
    margin-top: 45px;
    padding-right: 0;
  }
  .top-sale__buy-wrapper {
    float: left;
    width: 292px;
    margin-top: 82px;
    margin-left: 175px;
  }
  .top-sale__price {
    padding-left: 80px;
    text-align: left;
  }
}
.about {
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 7px;
}
.about__wrapper {
  padding: 30px 30px 0px;
}
@media (min-width: 768px) {
  .about__wrapper {
    padding: 30px 50px 0px;
  }
}
@media (min-width: 1200px) {
  .about__wrapper {
    padding: 30px 50px 0px;
  }
}
.about__title {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}
.about__item {
  position: relative;
  padding: 55px 0 27px;
  line-height: 21px;
}
.about__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 40px;
  background: url(../img/icon/icon-feature-1.svg) no-repeat 50% 50%;
}
.about__item--ic-money::before {
  height: 35px;
  background-image: url(../img/icon/icon-feature-3.svg);
}
.about__item--ic-heart::before {
  background-image: url(../img/icon/icon-feature-5.svg);
}
.about__item--ic-ball::before {
  width: 42px;
  background-image: url(../img/icon/icon-feature-2.svg);
}
.about__item--ic-rocket::before {
  left: -6px;
  width: 55px;
  height: 30px;
  background-image: url(../img/icon/icon-feature-4.svg);
}
.about__item--ic-gift::before {
  width: 45px;
  height: 32px;
  background-image: url(../img/icon/icon-feature-6.svg);
}
.about__reviews {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .about {
    background-size: auto 17px;
  }
  .about__title {
    margin-top: 36px;
    margin-bottom: 47px;
    font-size: 43px;
    line-height: 50px;
  }
  .about__list {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-width: 330px;
         column-width: 330px;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .about__item {
    display: inline-table;
    width: 330px;
    padding: 60px 0 53px;
    font-size: 20px;
  }
  .about__item:nth-child(n+4)::before {
    top: 4px;
    left: 0;
  }
  .about__reviews {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding: 0 30px 0;
    background-size: auto 23px;
  }
  .about__wrapper {
    padding-left: 175px;
  }
  .about__title {
    margin-top: 54px;
    font-size: 53px;
    line-height: 57px;
  }
  .about__list {
    width: 700px;
  }
  .about__item {
    padding-top: 59px;
  }
  .about__reviews {
    margin-top: 39px;
  }
}
@media (min-width: 1200px) and (min-width: 768px) {
  .about {
    padding: 0 50px 0;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .about {
    padding: 0 50px 0;
  }
}
.reviews {
  position: relative;
  padding: 0 30px;
}
.reviews__title {
  font-size: 25px;
  line-height: 30px;
}
.reviews__items {
  font-size: 0;
  margin-top: 25px;
}
.reviews__item {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.reviews__name {
  display: block;
  margin-top: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.reviews__hash {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}
.reviews__button {
  width: 50%;
  padding: 13px;
  border: 1px solid #ececec;
  outline: none;
  transition: all 0.2s ease-out;
}
.reviews__button:hover {
  opacity: 0.6;
}
.reviews__button:active {
  opacity: 0.3;
}
.reviews__button--prev {
  border-right: none;
  background: transparent url(../img/icon/icon-left-arrow.svg) no-repeat 50% 50%;
}
.reviews__button--next {
  background: transparent url(../img/icon/icon-right-arrow.svg) no-repeat 50% 50%;
}
.reviews__write {
  display: block;
  margin-top: 37px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .reviews {
    padding-bottom: 40px;
    background-image: url(../img/review@1x.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .reviews__wrapper {
    padding: 77px 30px 62px;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__items {
    padding-right: 5px;
    margin-top: 50px;
  }
  .reviews__item {
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__name {
    margin-top: 55px;
    font-size: 17px;
  }
  .reviews__hash {
    font-size: 17px;
  }
  .reviews__buttons {
    position: absolute;
    bottom: 136px;
    right: 66px;
    width: 140px;
  }
  .reviews__button {
    width: 50px;
    margin-right: 36px;
    border: none;
  }
  .reviews__button:last-child {
    margin-right: 0;
  }
  .reviews__write {
    position: absolute;
    top: 42px;
    right: 50px;
    width: 175px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .reviews__wrapper {
    padding: 77px 50px 62px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .reviews__wrapper {
    padding: 77px 50px 62px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url(../img/review@2x.jpg);
    background-size: 350px auto;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    padding-top: 70px;
    padding-left: 175px;
    padding-right: 0;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__name {
    margin-top: 37px;
  }
  .reviews__buttons {
    right: 13px;
  }
  .reviews__write {
    right: 0;
  }
}
.contacts {
  padding: 35px 0 39px;
}
.contacts__wrapper {
  padding: 0 30px 0;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0 50px 0;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    padding: 0 50px 0;
  }
}
.contacts__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
}
.contacts__email {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
.contacts__email a {
  display: inline-block;
  margin-left: 32px;
  padding-bottom: 2px;
  font-size: 15px;
  color: #444444;
  border-bottom: 1px solid #63d1bb;
}
.contacts__email a:hover {
  color: #56c3b2;
  border-color: #56c3b2;
}
.contacts__email a:active {
  opacity: 0.3;
}
.contacts__adress {
  margin-top: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
.contacts__adress::after {
  content: "";
  display: table;
  clear: both;
}
.contacts__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.contacts__map {
  position: relative;
  width: 320px;
  height: 457px;
  margin-top: 35px;
}
.contacts__map--cursor::after {
  content: "";
  position: absolute;
  top: 36%;
  left: 38%;
  width: 67px;
  height: 100px;
  background: url(../img/icon/icon-map-pin.svg) no-repeat 50% 50%;
}
.contacts__write {
  display: block;
  margin: 0 30px;
  margin-top: 38px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts {
    padding-bottom: 57px;
  }
  .contacts__wrapper {
    position: relative;
  }
  .contacts__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts__wrapper--flag::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 53px;
    width: 47px;
    height: 81px;
    background: url(../img/icon/icon-flag.svg) no-repeat;
  }
  .contacts__title {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__email {
    float: left;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__email a {
    display: inline;
    margin-left: 25px;
    font-size: 17px;
  }
  .contacts__adress {
    float: left;
    margin-top: 0;
    margin-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__text {
    margin-left: 26px;
  }
  .contacts__break {
    display: none;
  }
  .contacts__map {
    width: auto;
    margin-top: 55px;
  }
  .contacts__map--cursor::after {
    left: 45%;
  }
  .contacts__write {
    width: 230px;
    margin: 0 auto;
    margin-top: 55px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    margin-bottom: 55px;
    padding: 60px 30px 50px;
  }
  .contacts::after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts__wrapper {
    float: left;
    width: 475px;
    margin-top: 108px;
    padding: 0;
    padding-left: 175px;
  }
  .contacts__wrapper--flag::before {
    top: 17px;
    left: 64px;
    right: 0;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__adress {
    margin-top: 30px;
    margin-left: 0;
  }
  .contacts__map {
    float: right;
    width: 525px;
    height: 457px;
    margin-top: 63px;
  }
  .contacts__map--cursor::after {
    left: 45%;
  }
  .contacts__write {
    float: left;
    margin: 0;
    margin-top: 78px;
    margin-left: 175px;
  }
}
@media (min-width: 1200px) and (min-width: 768px) {
  .contacts {
    padding: 60px 50px 50px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .contacts {
    padding: 60px 50px 50px;
  }
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 0 42px 25px;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.social__link-ico {
  fill: #231F20;
  transition: all 0.2s ease-out;
}
.social__link-ico:hover {
  fill: #56c3b2;
}
.social__link-ico:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    justify-content: center;
    width: 150px;
    padding: 0;
    margin-left: 73px;
    border: none;
  }
  .social__item {
    margin-right: 29px;
  }
  .social__item:last-child {
    margin-right: 0;
  }
}
.catalog {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px;
}
@media (min-width: 768px) {
  .catalog {
    padding: 30px 50px 30px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding: 30px 50px 30px;
  }
}
.catalog__item {
  margin-bottom: 30px;
}
.catalog__item:last-of-type {
  margin-bottom: 0;
}
.catalog__item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.catalog__item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.catalog__picture {
  width: 260px;
  height: 195px;
}
.catalog__wrapper {
  padding: 28px 30px 28px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 28px 50px 28px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    padding: 28px 50px 28px;
  }
}
.catalog__title:hover {
  opacity: 0.6;
}
.catalog__title:active {
  opacity: 0.3;
}
.catalog__attribute {
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}
.catalog__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
  padding-top: 22px;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid #ececec;
}
.catalog__value:hover {
  opacity: 0.6;
}
.catalog__value:active {
  opacity: 0.3;
}
.catalog__basket {
  width: 21px;
  height: 22px;
  font-size: 0;
  background-image: url(../img/icon/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}
.catalog__basket:hover {
  background-image: url(../img/icon-hover/icon-cart.svg);
  opacity: 1;
}
.catalog__basket:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 63px;
  }
  .catalog__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
  }
  .catalog__picture {
    width: 334px;
    height: 334px;
    background: slateblue;
  }
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    padding: 25px;
    border-left: none;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__attribute {
    font-size: 15px;
  }
  .catalog__price {
    margin-top: auto;
    padding-left: 5px;
    font-size: 17px;
  }
  .catalog__basket {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 131px;
    padding-bottom: 57px;
  }
  .catalog__item {
    flex-direction: column;
    margin-bottom: 0;
  }
  .catalog__picture {
    width: 316px;
    height: 462px;
  }
  .catalog__wrapper {
    flex-grow: 1;
    width: auto;
    border-left: 1px solid #ececec;
  }
  .catalog__price {
    padding-left: 0;
  }
  .catalog__basket {
    margin-right: 7px;
  }
}
.produce {
  position: relative;
  padding: 0 30px 0;
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .produce {
    padding: 0 50px 0;
  }
}
@media (min-width: 1200px) {
  .produce {
    padding: 0 50px 0;
  }
}
.produce__title {
  position: relative;
  padding: 22px 43px 25px 91px;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #ececec;
  border-bottom: none;
}
.produce__title--icon::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 34px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icon/icon-video.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.produce__preview {
  position: relative;
}
.produce__preview::before {
  content: "";
}
.produce__preview-play {
  position: absolute;
  top: 135px;
  left: 109px;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url(../img/icon/icon-play.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 1;
  border: none;
  outline: none;
  transition: all 0.2s ease-out;
}
.produce__preview-play:hover {
  transform: scale(1.2);
}
.produce__preview-play:active {
  transform: scale(0.8);
  opacity: 0.3;
}
.produce__wrapper {
  padding: 27px 34px 32px;
  border: 1px solid #ececec;
  border-top: none;
}
.produce__desc {
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 400;
}
.produce__button {
  padding: 16px 23px;
}
.produce__preview-play:hover ~ .produce__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.produce__preview-play:active ~ .produce__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .produce {
    position: relative;
    padding-top: 455px;
  }
  .produce__preview {
    position: absolute;
    top: 0;
    left: 50px;
    width: 668px;
    height: 455px;
  }
  .produce__preview-play {
    top: 27%;
    left: 45%;
  }
  .produce__title {
    padding: 28px 43px 5px 108px;
    font-size: 20px;
  }
  .produce__title--icon::before {
    top: 28px;
    left: 41px;
  }
  .produce__wrapper {
    padding-left: 40px;
    padding-right: 43px;
  }
  .produce__desc {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
  .produce__button {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .produce {
    margin-bottom: 105px;
    padding-top: 0;
  }
  .produce::after {
    content: "";
    display: table;
    clear: both;
  }
  .produce__title {
    float: right;
    width: 368px;
    padding-top: 95px;
    padding-right: 50px;
    padding-left: 79px;
    border-left: none;
    border-top: 1px solid #ececec;
  }
  .produce__title--icon::before {
    top: 46px;
    left: 80px;
  }
  .produce__preview {
    position: relative;
    left: 0;
    float: left;
    width: 682px;
    height: 455px;
  }
  .produce__preview-play {
    top: 44%;
    left: 30%;
  }
  .produce__wrapper {
    float: right;
    width: 368px;
    padding-bottom: 60px;
    padding-left: 79px;
    padding-right: 57px;
    border-left: none;
  }
  .produce__desc {
    margin-bottom: 46px;
  }
}
.order-form {
  padding: 0 30px 55px;
}
@media (min-width: 768px) {
  .order-form {
    padding: 0 50px 55px;
  }
}
@media (min-width: 1200px) {
  .order-form {
    padding: 0 50px 55px;
  }
}
.order-form__input {
  display: none;
}
.order-form__input[type=radio]:checked + .order-form__label-radio::before {
  background-color: #63d1bb;
  background-clip: content-box;
}
.order-form__input[type=checkbox]:checked + .order-form__checkbox-label::before {
  background-image: url(../img/icon/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 22px 16px;
}
.order-form__wrapper {
  margin-bottom: 25px;
  padding-top: 22px;
  border: none;
  border-top: 1px solid #63d1bb;
}
.order-form__wrapper--color {
  margin-bottom: 12px;
}
.order-form__wrapper--name {
  margin-bottom: 13px;
  padding-top: 35px;
}
.order-form__wrapper--tel {
  margin-bottom: 16px;
  padding-top: 9px;
}
.order-form__wrapper--email {
  margin-bottom: 11px;
  padding-top: 10px;
}
.order-form__wrapper--add {
  margin-bottom: 13px;
  padding-top: 32px;
}
.order-form__inner-wrapper {
  display: flex;
  flex-flow: column wrap;
}
.order-form__inner-wrapper--tel,
.order-form__inner-wrapper--email {
  position: relative;
}
.order-form__title {
  padding-right: 27px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.order-form__checkbox-label {
  margin-bottom: 15px;
  position: relative;
  display: block;
  padding: 14px 0;
  padding-left: 64px;
  line-height: 18px;
}
.order-form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid #444444;
}
.order-form__checkbox-label:hover::before {
  border-color: #63d1bb;
}
.order-form__checkbox-label:active::before {
  border-color: #444444;
  opacity: 0.3;
}
.order-form__label-radio {
  position: relative;
  display: block;
  padding: 14px 0;
  padding-left: 64px;
  line-height: 18px;
}
.order-form__label-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  padding: 10px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.order-form__label-radio:hover::before {
  border-color: #63d1bb;
}
.order-form__label-radio:active::before {
  border-color: #444444;
  opacity: 0.3;
}
.order-form__name-label {
  line-height: 18px;
}
.order-form__text-input {
  width: 100%;
  margin-bottom: 23px;
  padding: 13px 0 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}
.order-form__text-input:focus,
.order-form__text-input:hover {
  border-color: #63d1bb;
}
.order-form__text-input--error {
  border-color: #f0b1b1;
}
.order-form__input-label {
  position: relative;
}
.order-form__input-label--tel {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}
.order-form__input-label--email {
  position: absolute;
  top: 14px;
  right: 4px;
  width: 32px;
  height: 21px;
  background-image: url(../img/icon/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}
.order-form__text-input--tel:hover + .order-form__input-label--tel,
.order-form__text-input--tel:focus + .order-form__input-label--tel {
  background-image: url(../img/icon-hover/icon-phone.svg);
  opacity: 1;
}
.order-form__text-input--email:hover + .order-form__input-label--email,
.order-form__text-input--email:focus + .order-form__input-label--email {
  background-image: url(../img/icon-hover/icon-mail.svg);
  opacity: 1;
}
.order-form__textarea {
  width: 100%;
  padding: 14px 17px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #000000;
  outline: none;
}
.order-form__textarea:focus,
.order-form__textarea:valid {
  border-color: #63d1bb;
}
.order-form__textarea--error {
  border-color: #f0b1b1;
}
.order-form__attention {
  margin-bottom: 28px;
  font-size: 13px;
  line-height: 8px;
  font-weight: 400;
}
.order-form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .order-form {
    padding: 0;
    padding-bottom: 50px;
  }
  .order-form::after {
    content: "";
    display: table;
    clear: both;
  }
  .order-form__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    border: none;
  }
  .order-form__wrapper--bg-grey {
    background: #f1f1f1;
  }
  .order-form__wrapper--type {
    padding-top: 22px;
  }
  .order-form__wrapper--color {
    padding-top: 55px;
  }
  .order-form__wrapper--name {
    padding-top: 31px;
    padding-bottom: 33px;
  }
  .order-form__wrapper--tel {
    margin: 0;
    padding-top: 45px;
  }
  .order-form__wrapper--email {
    padding-top: 12px;
    padding-bottom: 65px;
  }
  .order-form__wrapper--add {
    padding-top: 45px;
  }
  .order-form__title {
    float: left;
    width: 166px;
    margin-top: 25px;
  }
  .order-form__inner-wrapper {
    float: left;
    margin-top: 10px;
  }
  .order-form__inner-wrapper--color {
    flex-direction: row;
    justify-content: space-between;
    width: 465px;
    padding-bottom: 35px;
    margin-top: 7px;
  }
  .order-form__inner-wrapper--name {
    flex-direction: row;
    justify-content: flex-start;
    -ms-grid-row-align: baseline;
        align-items: baseline;
    width: 500px;
    margin-top: 6px;
  }
  .order-form__inner-wrapper--tel,
  .order-form__inner-wrapper--email {
    flex-direction: row;
    width: 500px;
  }
  .order-form__label-radio {
    margin-bottom: 30px;
    padding-left: 79px;
    font-size: 19px;
  }
  .order-form__label-radio::before {
    width: 52px;
    height: 52px;
    padding: 14px;
  }
  .order-form__checkbox-label {
    width: 200px;
    margin-bottom: 30px;
    font-size: 19px;
    padding-left: 82px;
  }
  .order-form__checkbox-label::before {
    width: 54px;
    height: 52px;
  }
  .order-form__input[type=checkbox] + .order-form__checkbox-label::before {
    background-image: url(../img/icon/icon-tick.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 33px 22px;
  }
  .order-form__name-label {
    font-size: 19px;
  }
  .order-form__input-label--tel {
    top: 15px;
    right: 25px;
  }
  .order-form__input-label--email {
    top: 25px;
    right: 20px;
  }
  .order-form__input-label--textarea {
    float: left;
    width: 500px;
    padding-top: 7px;
  }
  .order-form__text-input {
    flex-basis: 350px;
    flex-grow: 1;
    margin-left: 41px;
    margin-bottom: 18px;
    font-size: 19px;
  }
  .order-form__text-input--tel,
  .order-form__text-input--email {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 15px;
    background-color: transparent;
  }
  .order-form__textarea {
    font-size: 19px;
    line-height: 18px;
  }
  .order-form__attention {
    float: right;
    margin-top: 43px;
    margin-bottom: 0;
    margin-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }
  .order-form__button {
    float: left;
    width: 230px;
    margin-top: 35px;
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .order-form {
    padding-bottom: 95px;
  }
  .order-form__title {
    margin-right: 8px;
    padding-top: 5px;
    padding-left: 25px;
    text-align: center;
  }
  .order-form__wrapper--type {
    margin-bottom: 28px;
  }
  .order-form__wrapper--color {
    padding-top: 48px;
  }
  .order-form__inner-wrapper {
    width: 750px;
  }
  .order-form__inner-wrapper--color {
    margin-top: 14px;
  }
  .order-form__text-input {
    flex-basis: 565px;
  }
  .order-form__attention {
    margin-top: 82px;
    margin-right: 224px;
  }
  .order-form__button {
    margin-top: 73px;
    margin-left: 224px;
  }
  .order-form__input-label--textarea {
    width: 700px;
  }
}
.develop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 19px;
  line-height: 18px;
  text-align: center;
}
.develop:active {
  opacity: 0.3;
}
.develop:hover .develop__ico {
  opacity: 1;
}
.develop__text {
  padding-top: 6px;
}
.develop__ico {
  width: 41px;
  height: 38px;
  margin-left: 23px;
  font-size: 0;
  opacity: 0.8;
  background: url(../img/icon/htmlacademy.svg) no-repeat -2px 50%;
  background-size: cover;
}
@media (min-width: 768px) {
  .develop {
    width: 185px;
    margin-top: 0;
    padding-top: 10px;
    justify-content: space-between;
  }
  .develop__ico {
    width: 29px;
  }
}
@media (min-width: 1200px) {
  .develop__ico {
    margin-left: 23px;
  }
}
.logo-footer {
  display: none;
}
@media (min-width: 768px) {
  .logo-footer {
    display: block;
  }
  .logo-footer__img {
    fill: #231f20;
    transition: all 0.2s ease-out;
  }
  .logo-footer__img:hover {
    fill: #56c3b2;
  }
  .logo-footer__img:active {
    opacity: 0.3;
  }
}
.modal-cart {
  position: absolute;
  top: 30%;
  left: 50%;
  display: none;
  width: 320px;
  margin-left: -160px;
  padding: 35px 30px 40px;
  font-size: 0;
  text-align: center;
  z-index: 20;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
@media (min-width: 768px) {
  .modal-cart {
    padding: 35px 50px 40px;
  }
}
@media (min-width: 1200px) {
  .modal-cart {
    padding: 35px 50px 40px;
  }
}
.modal-cart--show {
  display: block;
}
.modal-cart__title {
  margin-bottom: 15px;
  padding: 0 50px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
.modal-cart__text {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.modal-cart__size-btn {
  display: inline-block;
  vertical-align: top;
  width: 82px;
  margin-right: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  background-color: transparent;
  border: 2px solid rgba(68, 68, 68, 0.1);
  outline: none;
  box-sizing: border-box;
}
.modal-cart__size-btn--active {
  border-color: #63d1bb;
}
.modal-cart__size-btn:nth-of-type(3) {
  margin-right: 0px;
}
.modal-cart__submit {
  display: block;
  margin-top: 30px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: #63d1bb;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .modal-cart {
    top: 41%;
    width: 568px;
    margin-left: -284px;
    padding-left: 109px;
    padding-right: 109px;
  }
  .modal-cart__title {
    padding: 0;
  }
  .modal-cart__size-btn {
    width: 112px;
  }
}
@media (min-width: 1200px) {
  .modal-cart {
    top: 31%;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.overlay--show {
  display: block;
}
