.page-body {
  position: relative;
  font-size: @text-size;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: @bold-weight;
  color: ;
}

h1,h2, h3,p,ul {
  margin: 0; 
  padding: 0;
}

a {
  display: block;       
  color: @black-color;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;  
}
